<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">
      <input type="email">
      <input type="password">
      <input type="submit">
      
    </form>
  </body>
</html>
